@import url("https://fonts.googleapis.com/css?family=Acme");

body{
    background-color: #795548;
}

.blog-titulo{
    text-align: center;
    font-family: "Acme", sans serif;
    color: #ffcc80;
    font-size: 3em;
}

.post-index-titulo{
    font-family: "Acme", sans serif !important;
    color: black;
}

.outros-textos-link h3 a{
    font-family: "Acme", sans serif !important;
    color: #ffcc80;
    text-decoration: none;
}

.social-share{
    color: black;
}

.sobre-responsive{
    display: none;
}

@media only screen and (max-width: 600px) {

    .sobre {
        display: none;
    }

    .sobre-responsive{
        display: inherit;
    }

}

.post-titulo{
  font-family: "Acme", sans serif;
}

.post-titulo h1{
    font-size: 2em;
    margin: 0 0 1.68rem 0;
}

.card-content h2 {
  font-family: "Acme", sans serif;
  font-size: 2em;
  margin: 0 0 20px 0;
}

.card-content p{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.card-content p strong{
    font-weight: bolder;
}

.card-content p img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-content ul{
    list-style-type: circle;
}

.card-content ul li{
    list-style-type: unset;
}
