@import url('https://fonts.googleapis.com/css?family=Acme');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #7F3D17;
  display: grid;
}
.header-blog {
  color: white;
  display: flow-root;
}
.header-blog a {
  text-decoration: none;
  color: white;
}
.header-blog h1 {
  float: left;
  font-size: 3em;
  font-family: "Acme", sans serif;
}
.header-blog .menu {
  float: right;
  margin: 50px;
}
.header-blog .menu a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.post-section {
  margin: 0px auto;
  width: 70%;
}
.last-post {
  border: 2px solid #ffd197;
  padding: 10 15 10;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.last-post a {
  text-decoration: none;
  color: black;
}
.last-post .post-title {
  text-align: left;
  font-size: 2.5em;
  font-family: "Acme", sans serif;
  margin-top: 5px;
  margin-bottom: 0;
}
.last-post .post-title span {
  background-color: #ffd197;
}
.last-post p {
  margin-bottom: 0;
  color: black;
  font-size: 1.2em;
}
.last-post img {
  max-width: 90%;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .post-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
    align-content: space-around;
    justify-content: space-between;
  }
}
.post-list .post-list-item {
  background-color: #ffd197;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) {
  .post-list .post-list-item {
    margin: 20px;
  }
}
.post-list .post-list-item h2 {
  font-family: "Acme", sans serif;
  margin: 0;
}
.post-list .post-list-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 5px;
}
.post-list .post-list-item a {
  text-decoration: none;
  color: black;
}
.footer {
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .social-share {
  text-decoration: none;
  color: white;
}
.sobre-head {
  display: flex;
  margin: 0 auto;
  width: 900px;
}
.sobre-head h1 {
  font-family: "Acme", sans serif;
  float: left;
  margin-left: 20px;
}
.sobre-head h1 span {
  background-color: #ffd197;
}
.sobre-head .post-content {
  width: 700px;
  clear: none;
  margin-left: 20px;
  margin-top: 40px;
}
.sobre-head img {
  border-radius: 10px;
  height: 250px;
}
