<head>
  <link rel="stylesheet" type="text/css" href="/theme/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/theme/post.css" media="screen" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!-- Place this data between the <head> tags of your website -->
<title>{{ SITENAME }}</title>

</head>

{% include "header.html" %}

{{ page.content }}

{% include "footer.html" %}